.app-name img {
    width: 200px;
}

.app-nav {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
}

.app-nav a {
    padding: 0;
    margin: 0;
    border-bottom: none;
}

.app-nav img {
    width: 150px;
}
